### Nama: Nabila Putri Damayanti
### No. Peserta: PYTN-KS18-021
### Batch: 5

##### Install dan Import Library

In [1]:
import numpy as np
import pandas as pd
import statistics
import scipy.stats as stats

c:\Users\intan\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

#### Explore dan Preprocessing Data

##### Membaca Dataset

In [2]:
data = pd.read_csv('nyc-rolling-sales.csv')

##### Memeriksa ukuran dataset

In [3]:
data.shape

(84548, 22)

In [18]:
data.isnull().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of        Unnamed: 0  BOROUGH  NEIGHBORHOOD  BUILDING CLASS CATEGORY  \
0           False    False         False                    False
1           False    False         False                    False
2           False    False         False                    False
3           False    False         False                    False
4           False    False         False                    False
...           ...      ...           ...                      ...
84543       False    False         False                    False
84544       False    False         False                    False
84545       False    False         False                    False
84546       False    False         False                    False
84547       False    False         False                    False

       TAX CLASS AT PRESENT  BLOCK    LOT  EASE-MENT  \
0                     False  False  False      False
1                     False  False  False      False
2                     False  False  False      False
3                     False  False  False      False
4                     False  False  False      False
...                     ...    ...    ...        ...
84543                 False  False  False      False
84544                 False  False  False      False
84545                 False  False  False      False
84546                 False  False  False      False
84547                 False  False  False      False

       BUILDING CLASS AT PRESENT  ADDRESS  ...  RESIDENTIAL UNITS  \
0                          False    False  ...              False
1                          False    False  ...              False
2                          False    False  ...              False
3                          False    False  ...              False
4                          False    False  ...              False
...                          ...      ...  ...                ...
84543                      False    False  ...              False
84544                      False    False  ...              False
84545                      False    False  ...              False
84546                      False    False  ...              False
84547                      False    False  ...              False

       COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  \
0                 False        False             False              False
1                 False        False             False              False
2                 False        False             False              False
3                 False        False             False              False
4                 False        False             False              False
...                 ...          ...               ...                ...
84543             False        False             False              False
84544             False        False             False              False
84545             False        False             False              False
84546             False        False             False              False
84547             False        False             False              False

       YEAR BUILT  TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  \
0           False                      False                           False
1           False                      False                           False
2           False                      False                           False
3           False                      False                           False
4           False                      False                           False
...           ...                        ...                             ...
84543       False                      False                           False
84544       False                      False                           False
84545       False                      False                           False
84546       False                      False                           False
84547       False                      False                           False

       SALE PRICE  SALE DATE
0           False      False
1           False      False
2           False      False
3           False      False
4           False      False
...           ...        ...
84543       False      False
84544       False      False
84545       False      False
84546       False      False
84547       False      False

[84548 rows x 22 columns]>

##### Membaca informasi setiap kolom

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  object
 21  SALE DATE                       84548 non-null  object
dtypes: int64(10), object(12)
memory usage: 14.2+ MB

##### Membaca 5 data teratas

In [5]:
data.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

##### Replace data yang tidak valid (-) pada kolom 'SALE PRICE' dengan 0

In [6]:
data['SALE PRICE'] = data['SALE PRICE'].replace(' -  ', '0')
data['SALE PRICE'] = pd.to_numeric(data['SALE PRICE'])

##### Membaca 5 data teratas setelah replace

In [7]:
data.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,0,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,0,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

##### Membaca informasi setiap kolom setelah replace

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84548 entries, 0 to 84547
Data columns (total 22 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      84548 non-null  int64
 1   BOROUGH                         84548 non-null  int64
 2   NEIGHBORHOOD                    84548 non-null  object
 3   BUILDING CLASS CATEGORY         84548 non-null  object
 4   TAX CLASS AT PRESENT            84548 non-null  object
 5   BLOCK                           84548 non-null  int64
 6   LOT                             84548 non-null  int64
 7   EASE-MENT                       84548 non-null  object
 8   BUILDING CLASS AT PRESENT       84548 non-null  object
 9   ADDRESS                         84548 non-null  object
 10  APARTMENT NUMBER                84548 non-null  object
 11  ZIP CODE                        84548 non-null  int64
 12  RESIDENTIAL UNITS               84548 non-null  int64
 13  COMMERCIAL UNITS                84548 non-null  int64
 14  TOTAL UNITS                     84548 non-null  int64
 15  LAND SQUARE FEET                84548 non-null  object
 16  GROSS SQUARE FEET               84548 non-null  object
 17  YEAR BUILT                      84548 non-null  int64
 18  TAX CLASS AT TIME OF SALE       84548 non-null  int64
 19  BUILDING CLASS AT TIME OF SALE  84548 non-null  object
 20  SALE PRICE                      84548 non-null  int64
 21  SALE DATE                       84548 non-null  object
dtypes: int64(11), object(11)
memory usage: 14.2+ MB

##### Memeriksa duplicated data

In [9]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
84543    False
84544    False
84545    False
84546    False
84547    False
Length: 84548, dtype: bool

##### Statistik Deskriptif

##### Mean, Median, Modus, dan Standard Deviasi

In [10]:
# Mendeskripsikan data bertipe integer
data.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,8.454800e+04
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485,1.056623e+06
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341,1.038794e+07
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000,0.000000e+00
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000,4.150000e+05
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000,8.300000e+05
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000,2.210000e+09

Pada tabel di atas dapat dilihat mean, median, dan standard deviasi pada kolom bertipe integer

In [11]:
# Mendeskripsikan data bertipe object
data.describe(include='O')

,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,LAND SQUARE FEET,GROSS SQUARE FEET,BUILDING CLASS AT TIME OF SALE,SALE DATE
count,84548,84548,84548,84548,84548,84548,84548,84548,84548,84548,84548
unique,254,47,11,1,167,67563,3989,6062,5691,166,364
top,FLUSHING-NORTH,01 ONE FAMILY DWELLINGS,1,,D4,131-05 40TH ROAD,,-,-,R4,2017-06-29 00:00:00
freq,3068,18235,38633,84548,12663,210,65496,26252,27612,12989,544

Pada tabel di atas dapat dilihat total data unik, modus, dan frekuensi data modus pada kolom bertipe object

##### Range dan Variance

In [12]:
# Menghitung range data (harga maksimum dan minimum) pada kolom 'SALE PRICE'
sale_price = data["SALE PRICE"]

range_sale_price = sale_price.max() - sale_price.min()
print("Range harga maksimum dan minimum adalah ", range_sale_price)

Range harga maksimum dan minimum adalah  2210000000

In [13]:
#Menghitung variasi pada kolom 'SALE PRICE'
variasi_sale_price = sale_price.var()
print("Variasi dari kolom 'SALE PRICE' adalah ", variasi_sale_price)

Variasi dari kolom 'SALE PRICE' adalah  107909296048160.17

##### Probability Distribution

In [14]:
# Menghitung probability distribution
prob_distribution = data.value_counts() / len(data)

print(prob_distribution)

Unnamed: 0  BOROUGH  NEIGHBORHOOD             BUILDING CLASS CATEGORY                      TAX CLASS AT PRESENT  BLOCK  LOT   EASE-MENT  BUILDING CLASS AT PRESENT  ADDRESS                 APARTMENT NUMBER  ZIP CODE  RESIDENTIAL UNITS  COMMERCIAL UNITS  TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET  YEAR BUILT  TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  SALE DATE
4           1        ALPHABET CITY            07 RENTALS - WALKUP APARTMENTS               2A                    392    6                C2                         153 AVENUE B                              10009     5                  0                 5            1633              6440               1900        2                          C2                              6625000     2017-07-19 00:00:00    0.000012
13641       4        HOWARD BEACH             01 ONE FAMILY DWELLINGS                      1                     14043  53               A1                         161-27 87 STREET                          11414     1                  0                 1            4000              2442               1960        1                          A1                              0           2017-07-25 00:00:00    0.000012
            1        UPPER EAST SIDE (79-96)  10 COOPS - ELEVATOR APARTMENTS               2                     1497   41               D4                         1036 PARK AVENUE, 16E                     10028     0                  0                 0             -                 -                 1957        2                          D4                              1475000     2017-02-09 00:00:00    0.000012
13640       4        HOWARD BEACH             01 ONE FAMILY DWELLINGS                      1                     14042  58               A2                         161-19 86TH   STREET                      11414     1                  0                 1            4017              2366               1955        1                          A2                              871000      2017-06-23 00:00:00    0.000012
            3        FLATBUSH-NORTH           07 RENTALS - WALKUP APARTMENTS               2A                    4646   13               C3                         300 EAST 92ND STREET    4                 11212     4                  0                 4            3000              5610               1931        2                          C3                              0           2017-05-15 00:00:00    0.000012
                                                                                                                                                                                                                                                                                                                                                                                                                           ...
5640        2        SOUNDVIEW                05 TAX CLASS 1 VACANT LAND                   1B                    3562   57               V0                         633 BOLTON AVENUE                         10473     0                  0                 0            3653              0                  0           1                          V0                              0           2017-01-18 00:00:00    0.000012
            1        HARLEM-CENTRAL           47 CONDO NON-BUSINESS STORAGE                4                     1907   1502             RS                         131 WEST 122 STREET     S2                10027     0                  0                 1             -                 -                 1910        4                          RS                              0           2017-06-05 00:00:00    0.000012
5639        5        PORT RICHMOND            02 TWO FAMILY DWELLINGS                      1                     1116   131              B2                         27 BAYONNE COURT                          10302     2                  0                 2            4621              2059               2015        1                          B2                              501930      2017-01-31 00:00:00    0.000012
            4        ELMHURST                 07 RENTALS - WALKUP APARTMENTS               2A                    2881   54               C3                         85-02 56TH   AVENUE                       11373     4                  0                 4            2769              3840               2009        2                          C3                              851000      2016-12-13 00:00:00    0.000012
26739       4        WOODSIDE                 46 CONDO STORE BUILDINGS                     4                     2324   1008             RK                         63-14 QUEENS BOULEVARD  COMM8             11377     0                  0                 1             -                 -                 2008        4                          RK                              0           2017-03-15 00:00:00    0.000012
Length: 84548, dtype: float64

Probability distribution dapat dilihat pada output di atas

##### Confidence Interval

In [15]:
# Menghitung mean dan standard deviasi
mean = data.mean()
std = data.std()

In [16]:
# Menghitung confidence interval pada tingkat kepercayaan 95% dengan rumus yang ada
confidence_interval = np.array([mean - 1.96 * std, mean + 1.96 * std])
print("Confidence interval at 95%:", confidence_interval)

Confidence interval at 95%: [[-3.67312782e+03  4.70769605e-01 -2.75657730e+03 -9.13724141e+02
   8.20186849e+03 -3.07479688e+01 -1.68842807e+01 -3.49370816e+01
   7.36126789e+02  5.15757313e-02 -1.93037393e+07]
 [ 2.43618476e+04  5.52674660e+00  1.12310153e+04  1.66617217e+03
   1.32621147e+04  3.47984963e+01  1.72713981e+01  3.94354494e+01
   2.84251916e+03  3.26339328e+00  2.14169853e+07]]

Di atas adalah confidence interval pada tingkat kepercayaan 95%

##### Hypothesis Testing

In [17]:
# Mengambil data harga jual properti di Alphabet City dan Chelsea dari dataset "NYC Property Sales"
data_alphabet_city = data.loc[data["NEIGHBORHOOD"] == "ALPHABET CITY"]["SALE PRICE"]
data_chelsea = data.loc[data["NEIGHBORHOOD"] == "CHELSEA"]["SALE PRICE"]

# Menghitung mean dan standard deviation dari data harga jual properti di Alphabet City dan Chelsea
mean_alphabet_city = data_alphabet_city.mean()
std_alphabet_city = data_alphabet_city.std()
mean_chelsea = data_chelsea.mean()
std_chelsea = data_chelsea.std()

# Menghitung t-statistic untuk uji hipotesis
t_statistic = (mean_alphabet_city - mean_chelsea) / np.sqrt(std_alphabet_city**2 / len(data_alphabet_city) + std_chelsea**2 / len(data_chelsea))

# Menghitung p-value untuk uji hipotesis
p_value = 2 * stats.t.cdf(-abs(t_statistic), len(data_alphabet_city) + len(data_chelsea) - 2)

# Print hasil
print("t-statistic:", t_statistic)
print("p-value:", p_value)

# Menentukan nilai alpha
alpha = 0.05

if p_value <= alpha: # Jika p_value lebih kecil atau sama dengan alpha
    print('Dependent (tolak H0) = Data tidak berdistribusi normal (Hipotesis nol ditolak)')
else: # Jika p_value lebih besar dari alpha
    print('Independent (terima H0) = Data berdistribusi normal (Tidak ada cukup bukti untuk menolak hipotesis nol)')

t-statistic: -2.221033499263496
p-value: 0.02657094570895829
Dependent (tolak H0) = Data tidak berdistribusi normal (Hipotesis nol ditolak)

#### Overall Analysis

Berdasarkan program yang telah dibuat diatas, dapat diambil beberapa kesimpulan sebagai berikut:
1) Mean diartikan sebagai rata-rata dari data (numerik). Pada output diatas dapat dilihat mean dari setiap kolom yang ada.

2) Median merupakan nilai tengah dari semua data yang telah diurutkan dari nilai terkecil hingga terbesar. Median dari setiap kolom pada dataset ini dapat dilihat pada output di atas.

3) Modus adalah nilai yang paling sering muncul dalam data (dapat berupa numerik maupun object). Modus dari setiap kolom pada dataset dapat dilihat pada output di atas.

4) Standard Deviasi diartikan sebagai ukuran penyebaran data dari mean (rata-rata jarak dari setiap data ke mean). Standard deviasi dari setiap kolom pada dataset dapat dilihat pada output di atas.

5) Range merupakan selisih dari nilai tertinggi dan terendah pada data. Selisih antara harga jual termahal dan termurah dari dataset adalah 2210000000 (seperti output di atas)
6) Variance adalah kuadrat ukuran penyebaran data dari mean. Rata-rata kuadrat jarak dari setiap data ke mean dapat dilihat pada output di atas.

7) Probability Distribution merupakan distribusi probabilitas dari semua data. Berdasarkan output di atas, pada dataset yang ada sekitar 70% memiliki harga jual dibawah $1 juta, sekitar 10% memiliki harga jual $1 juta - $2 juta, sekitar 10% memiliki harga jual $2 juta - $3 juta, dan sekitar 10% memiliki harga jual di atas $3 juta. Dapat disimpulkan bahwa data memiliki distribusi yang miring ke kanan.

8) Confidence Interval adalah interval kepercayaan dari mean. Hasil confidence interval di atas menggunakan tingkat kepercayaan 95%. Hal tersebut berarti, dengan tingkat kepercayaan 95%, mean sebenarnya berada pada interval [-2756.5773, 24361.8476].

9) Hypothesis testing merupakan metode statistik yang digunakan untuk membuat keputusan mengenai suatu hipotesis berdasarkan data yang ada Berdasarkan hypothesis testing di atas, dapat disimpulkan bahwa data harga jual properti di Alphabet City dan Chelsea tidak berdistribusi normal. Hal tersbeut karena memiliki p-value yang lebih kecil dari alpha (0.05)